.botao {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	background: var(--cor-primaria-1);
	padding: 1.6rem;
	font-size: 1.4rem;
	border-radius: 0.8rem;
	transition: 0.2s;
	width: 100%;
}

.botao:hover {
	background: hsl(27, 100%, 71%);
}
