@import url('./global.css');
@import url('./variaveis.css');
@import url('./tipografia.css');
@import url('./animacoes.css');
@import url('./componentes.css');

@import url('./menu.css');
@import url('./produto.css');
